.lt {
    color: orangered;
}

.little:hover {
    color: orangered;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.list li {
    margin-right: 20px;
    font-size: 20px;
    opacity: 1;
    color: rgb(122, 122, 122);
}

.list li:hover {
    color: orangered;
    scale: 1.1;

}

.list a {
    text-decoration: none;
}

.list ul {
    justify-content: space-between;
}

.icon {
    font-size: 20px;
    padding: 10px;
}

.logo i:hover {
    color: orangered;
}

.get {
    text-align: center;

    font-size: 50px;
    line-height: 80px;
    margin-top: 50px;

}

.le {
    color: orangered;
}
.i{
    color: orangered;
}
.t1:hover{
    color: orangered;
   
}
.t1{
   padding-top: 350px;
    height: 100px;
    width: 80px;
    
}
.box1{
  
    padding: 30px;
    display: flex;
    justify-content: center;
}
.im
{
 padding-left: 50px;   
}
.t2{
    font-size: 30px;
    padding-left: 50px;
}
.t3
{
    font-size: 25px;
    color: slategray;
    
}
.box2{
   
    margin-top: 50px;
    display: flex;
    flex-direction: row;
   
}
.t4{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 100px;
    
}
.image2
{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

